<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.PLANNET" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PLANNET</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />


<icon src="icon.png" />
	
<preference name="SplashScreen" value="screen" />



    <platform name="android">
        <allow-intent href="market:*" />
	  <feature name="InAppBrowser">
      <param name="android-package" value="org.apache.cordova.InAppBrowser" />
  </feature>
  
    <!-- you can use any density that exists in the Android project -->
	<splash src="www/img/splash/hdpi/splash_land.png" density="land-hdpi"/>
    <splash src="www/img/splash/ldpi/splash_land.png" density="land-ldpi"/>
    <splash src="www/img/splash/mdpi/splash_land.png" density="land-mdpi"/>
    <splash src="www/img/splash/xhdpi/splash_land.png" density="land-xhdpi"/>
	 <splash src="www/img/splash/xxhdpi/splash_land.png" density="land-xxhdpi"/>
    <splash src="www/img/splash/hdpi/splash.png" density="port-hdpi"/>
    <splash src="www/img/splash/ldpi/splash.png" density="port-ldpi"/>
    <splash src="www/img/splash/mdpi/splash.png" density="port-mdpi"/>
    <splash src="www/img/splash/xhdpi/splash.png" density="port-xhdpi"/>
	<splash src="www/img/splash/xxhdpi/splash.png" density="port-xxhdpi"/>
	
<icon src="www/img/icon/android/drawable-hdpi/plannet.png" density="hdpi"/> 
    <icon src="www/img/icon/android/drawable-ldpi/plannet.png" density="ldpi"/> 
    <icon src="www/img/icon/android/drawable-mdpi/plannet.png" density="mdpi"/> 
    <icon src="www/img/icon/android/drawable-xhdpi/plannet.png" density="xhdpi"/> 
<icon src="www/img/icon/android/drawable-xxhdpi/plannet.png" density="xxhdpi"/> 
<icon src="www/img/icon/android/drawable-xxxhdpi/plannet.png" density="xxxhdpi"/> 
	
   <feature name="SplashScreen">
      <param name="android-package" value="org.apache.cordova.SplashScreen" />
  </feature>

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
